<h1>{{ header|raw }}</h1>
<div class="callout callout-info">
    <p>{{ desc|raw }}</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {% for c in committee %}
            <tr>
                <td>{{ c.getPosition }}</td>
                <td>
                    {% if c.getEmail != null %}
                        <a href="mailto:{{ c.getEmail }}">{{ c.getName }}</a>
                    {% else %}
                        {{ c.getName }}
                    {% endif %}
                </td>
                <td>
                    {% if c.getPhone != null %}
                        <a href="tel:{{ c.getPhone }}">{{ c.getPhone }}</a>
                    {% else %}
                        <span class="text-muted">None</span>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No committee members available at this time.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>