<div class="panel panel-orange">
    <div class="panel-heading">
        <h3 class="panel-title">{{ header|raw }}</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for c in committee %}
                <tr>
                    <td>{{ c.getPosition }}</td>
                    <td>{{ c.getName }}</td>
                    <td>{{ c.getPhone }}</td>
                    <td>
                        {% if c.getEmail != null %}
                            <a href="mailto:{{ c.getEmail }}">{{ c.getEmail }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No committee members available at this time.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>