<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('rw_root') }}"><strong>{{ get_config('rf.brand_name') }}</strong></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if currentRoute == 'rw_welcome' %}active{% endif %}">
                    <a href="{{ path('rw_welcome') }}">Welcome</a>
                </li>
                <li class="{% if currentRoute == 'rw_program' %}active{% endif %}">
                    <a href="{{ path('rw_program') }}">Program</a>
                </li>
                <li class="dropdown {% if currentRoute == 'rw_register_hotel' or currentRoute == 'rw_register_convention' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('rw_register_hotel') }}">Book Hotel</a>
                        </li>
                        <li>
                            <a href="{{ path('rw_register_convention') }}">Buy Tickets</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown {% if currentRoute == 'rw_about_committee' or currentRoute == 'rw_about_history' %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('rw_about_history') }}">History</a>
                        </li>
                        <li>
                            <a href="{{ path('rw_about_committee') }}">Committee</a>
                        </li>
                    </ul>
                </li>
                <li class="{% if currentRoute == 'rw_contact' %}active{% endif %}">
                    <a href="{{ path('rw_contact') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>