<h1>{{ header|raw }}</h1>
<div class="callout callout-info">
    <p>{{ desc|raw }}</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th width="40%">Title</th>
            <th width="18%">Room</th>
            <th width="14%">Time</th>
            <th width="14%">Speaker</th>
            <th width="14%">Area</th>
        </tr>
    </thead>
    <tbody>
        {% for p in program %}
            <tr>
                <td>{{ p.getTitle }}</td>
                <td>{{ p.getRoom }}</td>
                <td>{{ p.getDatetime.format('g:ia') }}</td>
                <td>{{ p.getSpeaker }}</td>
                <td>{{ p.getArea }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No programming formation available at this time.</td>
            </tr>
        {% endfor %}
    </tbody>
</table> 
